@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 185 75% 86%; /* Light Teal */
    --foreground: 220 19% 25%;

    --card: 33 67% 96%; /* Sandy Beige */
    --card-foreground: 220 19% 45%;

    --popover: 33 67% 96%;
    --popover-foreground: 220 19% 45%;

    --primary: 187 65% 35%; /* Deep Teal */
    --primary-foreground: 33 67% 96%; 

    --secondary: 33 67% 91%; 
    --secondary-foreground: 220 19% 35%;

    --muted: 220 19% 90%;
    --muted-foreground: 220 19% 55%;

    --accent: 220 19% 90%;
    --accent-foreground: 220 19% 25%;

    --destructive: 33 99% 70%; 
    --destructive-foreground: 220 19% 25%;

    --border: 220 19% 85%;
    --input: 220 19% 85%;
    --ring: 187 65% 35%;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}